        .body {
            height: 100%;
            background: linear-gradient(to top, black 70%, white);
        }
        
        .flexbox {
            background-color: white;
            margin: 7%;
            height: 120vw;
            width: 79vw;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        
        .img {
            display: block;
            margin: 0 auto;
            max-width: 22%;
            opacity: 90%;
            height: auto;
            padding: 0.4vw;
            margin-top: 40px;
            border-radius: 50%;
            border: 14px solid;
            border-color: #fdfa43;
        }
        
        .name {
            color: white;
            padding: 0;
            text-align: center;
            margin-top: 1vw;
            display: block;
        }
        
        .logo {
            filter: invert(1);
            padding: 3px;
            position: relative;
            margin: 0 auto;
            margin-left: 42.5%;
            margin-right: 30%;
        }
        
        .text {
            text-align: left;
            font-size: 1.6vw;
        }
        
        .presentation {
            margin-left: 13vw;
            margin-right: 11vw;
            padding-top: 10vw;
        }
        
        .img2 {
            max-width: 6%;
            height: auto;
            position: relative;
            left: 15vw;
            top: 1vw;
        }
        
        .img3 {
            max-width: 6%;
            height: auto;
            position: relative;
            left: 17.7vw;
            top: 1vw;
        }
        
        .img4 {
            max-width: 5.5%;
            height: auto;
            position: relative;
            left: 21vw;
            top: 1vw;
        }
        
        .img5 {
            max-width: 7%;
            height: auto;
            position: relative;
            left: 24vw;
            top: 1vw;
        }
        
        .text2 {
            font-size: 1.6vw;
            margin-top: 57vw;
            text-align: center;
        }
        
        @media screen and (max-width: 1090px) {
            .flexbox {
                width: 100%;
                margin: 0 auto;
            }
            .size {
                margin-bottom: 6vw;
            }
            .text {
                font-size: 2.5vw;
            }
            .text2 {
                font-size: 2.5vw;
                margin-top: 46vw;
            }
            .img2 {
                max-width: 6%;
                height: auto;
                position: relative;
                left: 21vw;
                top: 1vw;
            }
            .img3 {
                max-width: 6%;
                height: auto;
                position: relative;
                left: 25vw;
                top: 1vw;
            }
            .img4 {
                max-width: 6%;
                height: auto;
                position: relative;
                left: 30vw;
                top: 1vw;
            }
            .img5 {
                max-width: 6%;
                height: auto;
                position: relative;
                left: 35vw;
                top: 1vw;
            }
        }
        
        @media screen and (max-width: 720px) {
            .name {
                position: relative;
                top: 3vw;
                font-size: 4.5vw;
            }
            .img {
                border: 1.8vw solid;
                max-width: 35vw;
                border-color: #fdfa43;
            }
            .text {
                font-size: 3.7vw;
            }
            .size {
                margin-bottom: 10vw;
            }
            .text2 {
                font-size: 2.5vw;
                margin-top: 20vw;
            }
        }
        
        @media screen and (max-width: 516px) {
            .size {
                margin-bottom: 30vw;
            }
            .name {
                top: 21vw;
                font-size: 6vw;
                position: relative;
            }
            .img {
                position: relative;
                top: 10vw;
                max-width: 50vw;
            }
            .text {
                font-size: 4.5vw;
            }
            .text2 {
                font-size: 2.5vw;
                margin-top: 10vw;
            }
        }